*{
  margin: 0;
  padding: 0;


}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
  }
.logo{
    font-weight: bold;
    color: #4E47FF;
}

.btn {
border-radius: 5px ;
color: white;
background-color: #4E47FF;
font-weight: bold;
border: none;
padding: 10px;
margin-top: 20px;

}
.btn:hover{
  background-color: lightcoral;
}
.banner{
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url(Assets/Hero-bg.png);

}
.content{
  width: 100%;
  top: 50%;
  text-align: center;
  margin-top: 5%;
}
.btn-2{
border-radius: 5px ;
text-align: center;
color: white;
background-color: #4E47FF;
font-weight: bold;
border: none;
padding: 10px;
margin-top: 10px;
margin-left: 45%;
}
.action-part{
 background-color:#54c9d6;
 display: flex;
 justify-content: space-between;
/* margin-right: 5%; */
 margin: 0 40px 5px 20px;
 max-width: 1140px;
}

.action-content{
max-width: 100%;
margin: 5%;
}
.wc-mini{
  border-radius:20px ;
  margin: 0 20px 10px 40px;
  padding-bottom: 10px;
  
}
.user-part{
  border-radius:20px ;
  max-width: 80%;
  background-color:  #d5ebf3;
  margin: 0 auto;
  margin-top:20px;

  padding: 130px 50px;
}
.user-tittle{
  color: #000000;
  text-align: center;
}.user-items{
  display:flex;
  justify-content: space-around;
 
}
.item-tittle{

  color: #4E47FF;
  font-size: xx-large;
}
.item-description{
  color:#000000; ;
}