*{
  margin: 0;
  padding: 0;


}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
  }
.logo{
    font-weight: bold;
    color: #4E47FF;
}

.btn {
border-radius: 5px ;
color: white;
background-color: #4E47FF;
font-weight: bold;
border: none;
padding: 10px;
margin-top: 20px;

}
.btn:hover{
  background-color: lightcoral;
}
.banner{
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url(Assets/Hero-bg.png);

}
.content{
  width: 100%;
  top: 50%;
  text-align: center;
  margin-top: 5%;
}
.btn-2{
border-radius: 5px ;
text-align: center;
color: white;
background-color: #4E47FF;
font-weight: bold;
border: none;
padding: 10px;
margin-top: 10px;
margin-left: 45%;
}
.action-part{
 background-color:#D6DDED;
 display: flex;
 justify-content: space-between;
/* margin-right: 5%; */
 margin: 50px 40px 5px 20px;
 max-width: 1140px;
 border-radius: 10px;
}

.action-content{
max-width: 100%;
margin: 50px;
}
.wc-mini{
  border-radius:20px ;
  margin: 10px 20px 10px 40px;
  padding-bottom: 10px;
  
}
.user-part{
  border-radius:20px ;
  max-width: 80%;
  background-color:  #D6DDED;
  margin: 0 auto;
  margin-top:20px;

  padding: 100px 50px;
}
.user-tittle{
  color: #000000;
  text-align: center;
}.user-items{
  display:flex;
  justify-content: space-around;
 
}
.item-tittle{

  color: #4E47FF;
  font-size: xx-large;
}
.item-description{
  color:#000000; 
  padding:10px;
}
.feedback{
  background-color: #D6DDED;
  margin-top:130px;
  
}
.text{
  font-size: 5;
}
.feedback-tittle{
  text-align: center;
  padding:20px;
}
.feedback-container{
  display: flex;
  gap:30px;
}
.contact-form{
  padding: 130px 30px;
display: flex;
justify-content: space-around;
  background-color: #D6DDED;
  width: 100%;
}
.field{
  border-radius:10px ;
  padding: 5px;
}
.f-tittle{
align-items: center;
}
.footer{
  padding: 130px 230px;
  margin: 20px;
  text-align: center;
}
nav ul{
  display: flex;
}
ul li {
  list-style: none;

}
ul li a{
  text-decoration: none;
}
.link{
  display: flex;
}